body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flow-root;
  min-height: 100vh;
  background-color: #f7f8f9;
  @apply dark:bg-black dark:text-gray-200;
}

.zoom-in {
  cursor: zoom-in;
}

img, video{
  width: 100%;
  max-width: 100%;
}
.nav-width{
  width: 240px;
}